.markdown img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.markdown h1 {
    font-size: 2.5rem;
    color: #222;
    font-weight: 700;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
}

.markdown h2 {
    font-size: 2rem;
    color: #333;
    margin: 1rem 0;
}

.markdown h3 {
    font-size: 1.75rem;
    color: #444;
    margin: 1.5rem 0;
    font-weight: 500;
}


.markdown h4 {
    font-size: 1.5rem;
    color: #555;
    margin: 1.5rem 0;
    font-weight: 400;
}

.markdown h5 {
    font-size: 1.25rem;
    color: #666;
    margin: 1.5rem 0;
    font-weight: 300;
}

.markdown h6 {
    font-size: 1rem;
    color: #888;
    margin: 1.5rem 0;
    font-weight: 300;
}

/* 粗体样式 */
.markdown strong {
    font-weight: bold;
    color: #000;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* 斜体样式 */
.markdown em {
    font-style: italic;
    color: #000;
    font-weight: 500;
}

/* 删除线样式 */
.markdown del {
    text-decoration: line-through;
    color: #d32f2f;
    font-weight: 500;
}

/* 引用样式 */
.markdown blockquote {
    border-left: 4px solid #007bff;
    padding-left: 1rem;
    color: #666;
    margin: 1.5rem 0;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
}

/* 无序列表样式 */
.markdown ul {
    list-style-type: disc;
    margin: 1.5rem 0;
    padding-left: 2rem;
}

.markdown ul li {
    margin: 0.5rem 0;
    font-weight: 400;
}

/* 有序列表样式 */
.markdown ol {
    list-style-type: decimal;
    margin: 1.5rem 0;
    padding-left: 2rem;
}

.markdown ol li {
    margin: 0.5rem 0;
    font-weight: 400;
}

/* 代码块样式 */
.markdown pre {
    background-color: #282c34;
    padding: 1.5rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    font-family: "Fira Code", "Courier New", Courier, monospace;
    color: #abb2bf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
/* 未来添加copy功能 */
.markdown .markdown-it-code-copy {
    content: 'Copy';
    top: 0;
    right: 0;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

.markdown code {
    background-color: #282c34;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-family: "Fira Code", "Courier New", Courier, monospace;
    color: #abb2bf;
}

/* 链接样式 */
.markdown a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.markdown a:hover {
    padding: 0.5px;
    box-shadow: 0 0 10px 2px rgba(0, 123, 255, 0.3);
}

/* 表格样式 */
.markdown table {
    width: 100%;
    margin: 1.5rem 0;
    border-radius: 8px;
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    color: #333;
}

.markdown table th,
.markdown table td {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.markdown table th {
    background-color: #d4d4d4;
    font-weight: 600;
    color: #444;
}

.markdown table tr {
    transition: all 0.15s ease-in-out;
}

.markdown table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.markdown table tr:hover {
    background-color: #a1a1a1;
}

/* 待办事项列表样式 */
.markdown .task-list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    color: #333;
}

.markdown .task-list-item input[type="checkbox"] {
    margin-right: 0.75rem;
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.markdown .task-list-item input[type="checkbox"]:checked {
    background-color: #28a745;
    border-color: #28a745;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23fff' d='M2.3 4.3L4.1 6.1 6.7 3.5'/%3e%3c/svg%3e");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.markdown .contains-task-list {
    padding-left: 1.5rem;
    margin: 1.5rem 0;
    border-left: 4px solid #007bff;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.markdown .contains-task-list::before {
    content: 'ToDo';
    position: absolute;
    top: -10px;
    left: -20px;
    background-color: #007bff;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0 0 0.5rem 0;
    font-size: 0.75rem;
}

.markdown .contains-task-list .task-list-item {
    margin-bottom: 0.75rem;
}