/* src/color.css */

/* Day theme */
:root {
  /* Body */
  --body-background-color: white;
  --body-text-color: black;

  /* Posts */
  --posts-text-color: black;

  /* RightList */
  --rightlist-text-color: black;

  /* CollectionPanel */
  --collectionpanel-background-color: #f9f9f9;
  --collectionpanel-shadow-color: rgba(0, 0, 0, 0.1);
  --collectionpanel-text-color: black;

  /* Header */
  --header-background-color: rgba(255, 215, 231, 0.616);
  --header-background-color-scrolled: rgba(200, 255, 255, 0.7);
  --header-box-shadow: rgba(0, 0, 0, 0.1);

  /* Logo */
  --logo-text-color: #333;

  /* Hamburger icon */
  --hamburger-line-color: #333;

  /* Navigation links */
  --nav-link-color: #333;
  --nav-link-hover-background-color: rgba(0, 0, 0, 0.1);

  /* Mobile navigation */
  --mobile-nav-background-color: rgba(255, 255, 255, 0.9);
  --mobile-nav-box-shadow: rgba(0, 0, 0, 0.1);

  /* TagPanel */
  --tag-panel-background-color: #f9f9f9;
  --tag-panel-box-shadow: rgba(0, 0, 0, 0.1);
  --tag-panel-text-color: black;

  /* PostPanel */
  --gap-color: #ccc;
  --background-color: white;
  --image-box-shadow: #ccc;
  --content-background-color: aliceblue;
  --content-box-shadow: #ccc;
  --content-text-color: black;
  --title-text-color: rgba(0, 0, 0, 0.575);
  --title-hover-color: rgb(199, 141, 191);
  --info-text-color: rgba(0, 0, 0, 0.5);
  --category-hover-color: rgb(100, 141, 191);
  --date-hover-color: rgba(100, 141, 191);
  --pre-text-color: #333;
  --pre-hover-color: #e8e7e7;

  /* Collection */
  --collection-box-shadow: #ccc;
  --text-color: #666;

  /* User Info */
  --user-info-background-color: #ffe;
  --user-info-box-shadow: rgba(0, 0, 0, 0.1);
  --user-info-text-color: black;
  --user-info-img-box-shadow: rgba(0, 0, 0, 0.5);
  --link-hover-color: #ff6347;

  /* ClockPanel */
  --clock-panel-background-color: #f9f9f9;
  --clock-panel-shadow-color: rgba(0, 0, 0, 0.1);
  --clock-panel-text-color: #333;
}