/* src/color.css */

/* Day theme */
:root {
  /* Body */
  --body-background-color: white;
  --body-text-color: black;

  /* Scene */
  --scene-background-color: white;

  /* Posts */
  --posts-text-color: black;

  /* RightList */
  --rightlist-text-color: black;

  /* CollectionPanel */
  --collectionpanel-background-color: #f9f9f9;
  --collectionpanel-shadow-color: rgba(0, 0, 0, 0.1);
  --collectionpanel-text-color: black;

  /* Header */
  --header-background-color: rgba(155, 255, 168, 0.8);
  --header-background-color-scrolled: rgba(200, 255, 255, 0.8);
  --header-box-shadow: rgba(0, 0, 0, 0.1);

  /* Logo */
  --logo-text-color: #333;

  /* Hamburger icon */
  --hamburger-line-color: #333;

  /* Navigation links */
  --nav-link-color: #333;
  --nav-link-hover-background-color: rgba(0, 0, 0, 0.1);

  /* Mobile navigation */
  --mobile-nav-background-color: rgba(255, 255, 255, 0.9);
  --mobile-nav-box-shadow: rgba(0, 0, 0, 0.1);

  /* TagPanel */
  --tag-panel-background-color: white;
  --tag-panel-box-shadow: rgba(0, 0, 0, 0.1);
  --tag-panel-text-color: black;
  --tag-list-gap: 1rem;
  --tag-list-padding: 10px;

  /* PostPanel */
  --gap-color: #ccc;
  --background-color: white;
  --image-box-shadow: #ccc;
  --content-background-color: aliceblue;
  --content-box-shadow: #ccc;
  --content-text-color: black;
  --title-text-color: rgba(0, 0, 0, 0.575);
  --title-hover-color: rgb(199, 141, 191);
  --info-text-color: rgba(0, 0, 0, 0.5);
  --category-hover-color: rgb(100, 141, 191);
  --date-hover-color: rgba(100, 141, 191);
  --pre-text-color: #333;

  /* Collection */
  --collection-box-shadow: #ccc;
  --text-color: #666;

  /* User Info */
  --user-info-background-color: #ffe;
  --user-info-box-shadow: rgba(0, 0, 0, 0.1);
  --user-info-text-color: black;
  --user-info-img-box-shadow: rgba(0, 0, 0, 0.5);
  --link-hover-color: #ff6347;
}

/* Night theme */
[data-theme='night'] {
  /* Body */
  --body-background-color: #121212;
  --body-text-color: #e0e0e0;

  /* Scene */
  --scene-background-color: #121212;

  /* Posts */
  --posts-text-color: #e0e0e0;

  /* RightList */
  --rightlist-text-color: #e0e0e0;

  /* CollectionPanel */
  --collectionpanel-background-color: #2b2b2b;
  --collectionpanel-shadow-color: rgba(0, 0, 0, 0.7);
  --collectionpanel-text-color: #e0e0e0;

  /* Header */
  --header-background-color: rgba(45, 45, 45, 0.9);
  --header-background-color-scrolled: rgba(55, 55, 55, 0.9);
  --header-box-shadow: rgba(0, 0, 0, 0.5);

  /* Logo */
  --logo-text-color: #e0e0e0;

  /* Hamburger icon */
  --hamburger-line-color: #e0e0e0;

  /* Navigation links */
  --nav-link-color: #e0e0e0;
  --nav-link-hover-background-color: rgba(255, 255, 255, 0.1);

  /* Mobile navigation */
  --mobile-nav-background-color: rgba(45, 45, 45, 0.9);
  --mobile-nav-box-shadow: rgba(0, 0, 0, 0.5);

  /* TagPanel */
  --tag-panel-background-color: #1d1d1d;
  --tag-panel-box-shadow: rgba(0, 0, 0, 0.7);
  --tag-panel-text-color: #e0e0e0;
  --tag-list-gap: 1rem;
  --tag-list-padding: 10px;

  /* PostPanel */
  --gap-color: #555;
  --background-color: #121212;
  --image-box-shadow: #555;
  --content-background-color: #2b2b2b;
  --content-box-shadow: #555;
  --content-text-color: #e0e0e0;
  --title-text-color: rgba(255, 255, 255, 0.575);
  --title-hover-color: rgb(255, 141, 191);
  --info-text-color: rgba(255, 255, 255, 0.5);
  --category-hover-color: rgb(200, 141, 191);
  --date-hover-color: rgba(200, 141, 191);
  --pre-text-color: #ccc;

  /* Collection */
  --collection-background-color: #1d1d1d;
  --collection-box-shadow: #555;
  --text-color: #e0e0e0;

  /* User Info */
  --user-info-background-color: #1d1d1d;
  --user-info-box-shadow: rgba(0, 0, 0, 0.7);
  --user-info-text-color: #e0e0e0;
  --user-info-img-box-shadow: rgba(0, 0, 0, 0.8);
  --link-hover-color: #ff6347;
}

/* Smooth transition for theme changes */
* {
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}